body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav a {
  text-decoration: none;
}

h1 {
  padding-top: 1rem;
  letter-spacing: 3px;
}

.container {
  border: 1px solid darkrgb(235, 235, 235);
}

.welcome-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  background: linear-gradient(
    to bottom,
    rgb(235, 235, 235) 0%,
    rgb(235, 235, 235) 50%,
    white 50%,
    white 100%
  );
}

.avatar {
  border-radius: 50%;
  margin-top: 2rem;
  border: 8px solid white;
  width: 22rem;
}

.projects {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}

.p1 {
  text-align: center;
}

.p5-a {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 8rem;
}

.p5 {
  font-size: 3rem;
  border-top: 2px solid black;
  line-height: 5rem;
  margin-top: 6rem;
  padding-top: 1rem;
}

.p6 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.content-img {
  opacity: .8;
  width: 14rem;
}








/* MEDIA QUERY */
@media only screen and (max-width: 600px) {

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .nav a {
    text-decoration: none;
  }
  
  .content-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  
  h1 {
    padding-top: 1rem;
    letter-spacing: 3px;
  }
  
  .container {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .welcome-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    background: white;
  }
  
  .avatar {
    border-radius: 50%;
    margin-top: 1rem;
    border: 8px solid white;
    width: 22rem;
  }
  
  .projects {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
  }
  
  .p1 {
    text-align: center;
  }
  
  .p5-a {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 8rem;
  }
  
  .p5 {
    font-size: 3rem;
    border-top: 2px solid black;
    line-height: 5rem;
    margin-top: 6rem;
    padding-top: 1rem;
  }
  
  .p6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .content-img {
    opacity: .8;
    width: 100%;
  }
  
  .case-img {
    width: 100%;
    border: 1px solid lightgrey;
    margin: 2rem;
  }

  .about-me-img {
    display: none;
  }


}
